<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="/images/logo.png" alt="Logo de l'entreprise" class="avatar avatar-mini"> KomptApp::[G.N.D.C] </a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">          
        <ul class="navbar-nav ml-auto">
             {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        {% if app.user.local == true %}
                            <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="Avatar de {{app.user.fullName}}" class="avatar avatar-mini">
                        {% else %}
                            {% if app.user.picture is not empty %}
                                <img src="{{app.user.picture}}" alt="Avatar de {{app.user.fullName}}" class="avatar avatar-mini">     
                            {% else %}
                                <img src="/images/logo.png" alt="Avatar de {{app.user.fullName}}" class="avatar avatar-mini">         
                            {% endif %}                            
                        {% endif %}
                        
                        {{app.user.fullName}}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labellebdy="accountDropdownLink">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('account_index') }}" target="_blank" class="dropdown-item">Page d'administration</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a href="{{ path('admin_index') }}" class="dropdown-item"><i class="fas fa-home"></i> Dashboard</a>
                        <a href="{{ path('admin_member_new') }}" class="dropdown-item">
                        <i class="fas fa-user-plus"></i> Enregistrer un membre</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_user') }}" class="dropdown-item"><i class="fas fa-user-circle"></i> Mon compte</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item"><i class="fas fa-lock"></i> Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link">
                    <i class="fas fa-unlock"></i> 
                    Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>            
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-dismissible alert-{{label}}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}