  <nav class="col-md-2 d-none d-md-block bg-light sidebar"> 
    <div class="sidebar-sticky">
        {% set route_name = app.request.attributes.get('_route') %}       
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if route_name == 'admin_index' %} active {% endif %}" href="{{ path('admin_index') }}">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">2</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link dropdown-toggle 
                {% if route_name == 'admin_member_index' or route_name == 'admin_member_new' or 'admin_member' in route_name  %} active {% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="users"></span>
                Membres
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('admin_member_index') }}"><span data-feather="zoom-in"></span> Liste des Membres</a>
                    <a class="dropdown-item" href="{{ path('admin_member_new') }}" ><span data-feather="user-plus"></span> Nouveau Membre</a>                   
                </div>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link dropdown-toggle 
                {% if route_name == 'admin_paiement_index' or route_name == 'admin_paiement_new'  %} active {% endif %}
                 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="dollar-sign"></span>
                Paiement
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('admin_paiement_index') }}"><span data-feather="printer"></span> Historique</a>
                    <a class="dropdown-item" href="{{ path('admin_paiement_new') }}"><span data-feather="plus"></span> Nouveau paiement</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name == 'admin_bonus_index' or 'admin_bonus' in route_name %} active {% endif %}" href="{{ path('admin_bonus_index') }}">
                <span data-feather="bar-chart-2"></span>
                Bonus
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Paramètres</span>
        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link {% if route_name == 'admin_cat_paiement' %} active {% endif %}" href="{{ path('admin_cat_paiement') }}">
                <span data-feather="file-text"></span>
                Type paiement
                </a>
            </li>
        </ul> 

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Mon compte</span>
        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <ul class="nav flex-column mb-25 ">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">
                <span data-feather="file-text"></span>
                Déconnexion
                </a>
            </li>
        </ul>        
    </div>
</nav>