{% extends 'base.html.twig' %}

{% block title %}Dashboard : Members{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('css/dashboard') }}
{% endblock %}

{% block body %}
    {% include "admin/partials/header.html.twig" %}  
    <div class="container-fluid">
        <div class="row">
            {% include "admin/partials/menu.html.twig" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">                
                {% if form is defined %}
                    <div class="container">
                        <h1 class="px-5 my-5">{{title}}</h1>
                        <div class="row-md px-5">
                            <div class="alert alert-light">
                                <h2>Informations générales </h2>
                                <hr>
                                {{ form_start(form) }}                            

                                {{ form_widget(form) }}
                                <div class="alert alert-primary clearfix my-5">
                                    <h2 class="alert-heading">Sauvegarder les informations</h2>
                                    <p>Vous êtes sur le point d'enregistrer une <b>{{ title }}</b> comme nouveau membre au sein de l'organisation, nous sommes super fiers de vous.</p>
                                    <button type="submit" class="btn btn-success float-right">
                                        <i class="fas fa-check"></i>
                                        Enregistrer un nouveau membre
                                    </button>
                                </div>
                                {{ form_end(form) }}
                            </div>                            
                        </div>
                    </div>                    
                {% else %}
                   {% include "admin/partials/modal.html.twig" %}  
                    <div class="jumbotron my-3">
                        <h1 class="display-5">Enregistrement des nouveaux membres</h1>
                        <p class="lead">Nous enregistrons deux catégories de membres, prière de cliquez sur l'un des boutons ci-dessous.</p>
                        <hr class="my-4">
                        <p></p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="{{ path('admin_member_new', {'id' : 1}) }}" role="button">Personne physique</a>
                            <a class="btn btn-danger btn-lg" href="{{ path('admin_member_new', {'id' : 2}) }}" role="button">Personne morale</a>
                        </p>
                    </div>    
                {% endif %}
            </main>
        </div>
        
    </div>
    
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    {{ encore_entry_script_tags('js/dashboard') }}   
{% endblock %} 